<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1111111.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>173A81291C4F90990047BEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173A81421C4F909A0047BEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173A814D1C4F909B0047BEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
